@model IEnumerable<Trabjobs.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContraseñaEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocacionEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolEmpresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContraseñaEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocacionEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolEmpresa.IdRolesEmpresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmpresa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpresa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpresa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
